body{
    margin: 0;
    padding: 0;
}


#search-button{
    border-color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#cityBtn{
    border-radius: 5px;
    margin-bottom: 10px;
}

#today{
    border: solid #000;
    border-width: 2px;
}


#icon{
    width: 15%;
}

#row2{
    background-color: yellow;
}

#fiveDayCard{
    background-color:#2b344c;
    color:white;
    font-size: 15px;
}

#iconforecast1,#iconforecast2,#iconforecast3,#iconforecast4,#iconforecast5{
    width: 50%;
}