body{
    margin: 0;
    padding: 0;
}


#search-button{
    border-color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#cityBtn{
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: lightgrey;
    background-color: lightgrey;
}

#today{
    border: solid #000;
    border-width: 1px;
}

/* added shadow to icon so that it shows up better */
#icon{
    width: 5%;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

#fiveDayCard{
    background-color:#2b344c;
    color:white;
    font-size: 15px;
    font-weight:400;
}

h3{
    display: inline-block;
}

h5{
    font-size: 20px;
}

.icons{
    width: 40%;
}