body{
    margin: 0;
    padding: 0;
}


#search-button{
    border-color: black;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 20px;
}

#cityBtn{
    border-radius: 5px;
    margin-bottom: 10px;
}

#today{
    background-color: yellow;
}